root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 180

# Make inconsistent line endings an error
[*]
end_of_line = lf

# Text / Markdown
[*.md]
trim_trailing_whitespace = false
